.intro__text {
  max-width: 690px;
  margin-bottom: 33px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;  
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 288px;
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 319px) {
  .intro__text {
    max-width: 288px;
    margin-bottom: 34px;
  }
}